:root {
  --ff: "Rubik", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --line-2: 0.25rem;
  --line-4: 1.25rem;

  /* page bg */
  --col-bg: hsl(0, 0%, 8%);
  /* element bg */
  --col-surface: hsl(0, 0%, 14%);
  /* one level up */
  --col-surface-2: hsl(0, 0%, 28%);
  /* primary colors */
  --col-p-200: #f7fa5e;
  --col-p-500: #c9fd0d;
  --col-p-700: #90ce00;
  --col-p-900: #72a301;
  /* secondary colors */
  --col-s-200: #69e2ff;
  --col-s-500: #00b0ff;
  --col-s-700: #0081cb;
  /* text colors */
  --col-on-bg: #ffffff;
  --col-on-surface: #ffffff;
  --col-on-primary: #000000;
  --col-on-secondary: #000000;
}
* {
  font-family: var(--ff);
}
body {
  background-color: var(--col-bg);
  position: relative;
}
header {
  padding: 1.8rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
}
header h3 {
  font-weight: var(--fw-regular);
  color: var(--col-p-200);
  transition: all ease-out 300ms;
}
header h3:nth-child(1):hover {
  color: var(--col-p-500);
}
header h3:nth-child(1):active {
  color: var(--col-p-700);
}
header a {
  text-decoration: none;  
}
main {
  margin: 2rem;
  padding: 2rem;
  background-color: var(--col-surface);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}
main h1 {
  color: var(--col-p-200);
  padding: 1rem 1rem 2rem 1rem;
  user-select: none;
}
main h2 {
  color: var(--col-p-900);
  user-select: none;
}
main button {
  font-size: 1.25rem;
  padding: 1rem;
  margin: 0.5rem 1rem;
  background-color: var(--col-p-700);
  border: var(--line-2) solid var(--col-bg);
  box-shadow: 0.25rem 0.25rem var(--col-bg);
  border-radius: 0.4rem;
  max-width: 30rem;
  cursor: pointer;
  transition: all ease-out 300ms;
}
main button:hover {
  background-color: var(--col-p-500);
}
footer {
  display: flex;
  padding: 1rem;
  justify-content: center;
}
footer p {
  color: var(--col-p-700);
  text-align: center;
}
#scoreBoard {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 34%);
  border-radius: 0.6rem;
  list-style: none;
  align-items: center;
  padding-inline-start: 0px;
  margin: 0 auto;
}
#scoreBoard li {
  width: 10ch;
  background-color: var(--col-p-200);
  padding: 0.8rem;
  margin: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--fw-black);
  border-radius: 0.4rem;
  user-select: none;
}
#scoreBoard li:nth-child(odd) {
  background-color: var(--col-p-500);
}
.scoreArea {
  align-items: center;
}
.scoreArea button {
  cursor: pointer;
  min-width: 16rem;
}